<section class="app-hero">
  <div class="hero-section-left">
    <h1 class="hero-heading">
      Innovative Solution Taliored to your Business need
    </h1>
    <p class="hero-subtext">
      We can partner with your business to provide a symbiotic relationship and
      synergy to help you or your business achieve more business growth through
      strategic financial advisory, investment business and human resource
      planning and management.
    </p>
    <button class="hero-button">Get in touch</button>
    <div class="hero-social-links">
      <a
        ><img
          src="./assets/svgs/behance.svg"
          alt="behance-link"
          class="hero-social-link"
      /></a>
      <a
        ><img
          src="./assets/svgs/dribble.svg"
          alt="dribble-link"
          class="hero-social-link"
      /></a>
      <a
        ><img
          src="./assets/svgs/facebook.svg"
          alt="facebook-link"
          class="hero-social-link"
      /></a>
    </div>
  </div>
  <div class="hero-section-right">
    <img
      src="./assets/svgs/hero-vector.svg"
      alt="hero-vector-image"
      class="hero-vector-img"
    />
  </div>
</section>
