<section class="app-contact">
  <div class="contact-heading">
    <h2>Get in Touch</h2>
    <img src="./assets/svgs/triangle.svg" alt="triangle-img" />
  </div>
  <div class="contact-body">
    <div class="contact-options">
      <div class="contact-option">
        <img src="./assets/svgs/phone.svg" alt="triangle-img" />
        <h2>Call Us</h2>
        <p>+234-806 749-700</p>
      </div>
      <div class="contact-option">
        <img
          src="./assets/svgs/send-mail.svg"
          alt="triangle-img"
          width="40"
          height="40"
        />
        <h2>Send Email</h2>
        <p>revent@digital.com</p>
      </div>
    </div>
  </div>
  <div class="contact-form">
    <div>
      <input type="text" />
      <input type="text" />
    </div>
    <input type="text" />
    <textarea></textarea>
    <button>Send message</button>
  </div>
</section>
