.app-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 1440px;
  margin-top: 4rem;
  margin-bottom: 15rem;
}

.contact-heading {
  display: flex;
  flex-direction: column;
  max-width: 198px;
  align-items: center;
  justify-content: center;
}

.contact-heading h2 {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.286rem;
}

.contact-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 1088.4px;
  margin-top: 1.875rem;
}

.contact-options {
  display: flex;
  gap: 16.125rem;
}

.contact-option {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-option h2 {
  margin-top: 0.688rem;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.813rem;
}

.contact-option p {
  margin-top: 1rem;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.375rem;
}

.contact-form {
  margin-top: 1.938rem;
  display: flex;
  flex-direction: column;
  flex: 100%;
  width: 1088.4px;
}

.contact-form > div {
  display: flex;
  gap: 1.25rem;
  justify-content: space-between;
}

.contact-form > div > input {
  width: 50%;
  height: 42px;
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 10px 10px;
  font-family: var(--font-primary);
  font-weight: 500;
}

.contact-form > input {
  margin-top: 1.813rem;
  height: 42px;
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 10px 10px;
  font-family: var(--font-primary);
  font-weight: 500;
}

.contact-form > textarea {
  margin-top: 1.813rem;
  height: 200px;
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 10px 10px;
  font-family: var(--font-primary);
  font-weight: 500;
}

.contact-form > button {
  margin-top: 2.313rem;
  outline: none;
  background-color: var(--primary-yellow);
  padding: 1.25rem 2rem;
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.875rem;
  border-radius: 10px;
  cursor: pointer;
  max-width: 246px;
}

@media only screen and (max-width: 768px) {
  .contact-form {
    width: 700px;
  }
}

@media only screen and (max-width: 480px) {
  .contact-form {
    width: 360px;
  }

  .contact-options {
    display: flex;
    gap: 5rem;
  }
}
