<div class="app-portfolio">
  <div class="portfolio-heading">
    <h2>Portfolio</h2>
    <img src="./assets/svgs/triangle.svg" alt="triangle-img" />
  </div>
  <div class="portfolio-body">
    <div class="portfolio-filters">
      <div class="portfolio-filter active">All</div>
      <div class="portfolio-filter">Website</div>
      <div class="portfolio-filter">MobileApp</div>
      <div class="portfolio-filter">CSS</div>
      <div class="portfolio-filter">GitHub</div>
    </div>
    <div class="portfolio-images">
      <img
        src="./assets/svgs/portfolio-img1.svg"
        alt="portfolio-image"
        class="portfolio-image"
      />
      <img
        src="./assets/svgs/portfolio-img2.svg"
        alt="portfolio-image"
        class="portfolio-image"
      />
      <img
        src="./assets/svgs/portfolio-img3.svg"
        alt="portfolio-image"
        class="portfolio-image"
      />
    </div>
  </div>
</div>
